a:link {
    text-decoration: none;
}
p {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
    font-size: 0.9rem;
}
h1,h2,h3,h4{
    color: rgb(240, 248, 255);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}
body{
    background-color: black;
    background: radial-gradient(circle,rgb(5, 0, 10) 0%, rgba(5, 1, 8, 1) 65%, rgb(10, 8, 12) 100%);
}
header{
    justify-self: center;
}
main{
    justify-content: center;
    display: flex; flex-wrap: wrap;
}
.cliquable {
    transition: 0.5s;   
}
.cliquable:hover {
    transition: 0.2s;
transform: scale(1.1);
}
.stillcontainer{
    position: relative;
    z-index: 1;
    box-shadow: 0 0 19px rgba(255, 255, 255, 0.35);
    transition: 0.5s;
    margin: 5px;
    max-width: 100%;
    height: 20vw;
    aspect-ratio: 4/3;
    box-sizing: border-box;
    display: block;
    background-color: black;
    overflow: hidden;
    border-radius: 20px;
}
.stillcontainer:hover{
    transform: scale(1.05); transition: 0.4s ease-out;
}
.desc{
    position: absolute;
    z-index: 2;
    margin-inline: 20px;
}
#autoplay:hover{
    opacity: 0.0;
}
.stills{
    z-index: 3;
    position: absolute;
    opacity: 1;
    transition: 0.5s;
    height: auto;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 4/3;
}
.stills:hover{
    opacity: 0.35;
    mix-blend-mode: lighten;
}

.details{
    justify-self: center;
    
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(212, 212, 212);
    font-weight: lighter;
}
.preview{
    opacity: 0.5;
    width: 100%;
}