body{
    background-color: black;
}
#main-header{
    display: block;
    justify-self: center;
    margin: 4px;
    margin-bottom: 5%;
}
#main-homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-inline: auto;
}
.box {
  opacity: 1;
  border: white solid;
  background-color: rgba(255, 250, 240, 0.144); 
   display: flex;
   align-items: center;  
   border-radius: 60px; 
   gap: 2%;
}
#selec_menu{
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 800px;
    align-self: center;
    margin-inline: auto;
    
}
.cliquable {
    z-index: 0;
    transition: 0.5s;   
}
.cliquable:hover {
    z-index: 0;
    transition: 0.2s;
transform: scale(1.1);
}
.title {
    display: flex;
    justify-self: center;
    justify-content: center;
    margin: 4%;
    margin-bottom: 0;
}

.paragraphs {
    font-family: 'Courier New', Courier, monospace;   
    display: block;
    margin: 10rem;
justify-self: center
}
.paragraphs2 {
    font-family: 'Courier New', Courier, monospace;  
    text-shadow: 1px 1px 3px black;
    color: aliceblue;
    font-weight: bold; 
    display: block;
    margin: 30px;
    text-align: left;
justify-self: center
}
.bgvideo{
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
}
video{
    object-fit:  cover;
}
h1,h2,h3,h4,h5{
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 2px 5px black;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.underbox{
    padding: 2%;
    background-color: rgba(255, 250, 240, 0.144);
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.404);
    overflow: hidden;
    margin: 1%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    margin: 4%;
}
/* copyright footer*/
.details{
    justify-self: center;
    
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(212, 212, 212);
    font-weight: lighter;
}
/* style pour le materiel*/
#body_gear_page{
    background: #240303;
background: linear-gradient(180deg, rgb(49, 19, 5) 0%, rgba(237, 175, 50, 1) 72%, rgba(255, 243, 82, 1) 100%);
background-size: cover;
overflow-x: hidden;
}
.gearwriting{
    z-index: 5;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 2px 5px black;
    color: aliceblue;
    font-weight: bold;
}
.gearcontainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2%;
}
.gearitem{
    width: 10cm;
    max-width: 80%;
    background-color: rgba(14, 14, 14, 0.555);
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.363);
    display: flex; 
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    padding: 30px;
    margin: 1%;
}
a:link, a:visited{
    text-decoration: none;
    color: rgb(224, 177, 48);
}
/* page de chargement */
.loader{
    z-index: 99;
    opacity: 1;
    width: 100%; height: 100%; background-color: black; position: absolute; top: 50%; left: 50%; translate: -50% -50%; margin: 0;
}
.loader--hidden{
opacity: 0;
visibility: hidden;
transition: 0.5s ease-in-out;
}
@keyframes bounce {
    0% {transform: translate(0);}
    100% {transform: translate(0, -10%);}
}
.loadericon{
    fill: white;
    animation: bounce 0.6s cubic-bezier(.13,.42,.25,.99) infinite alternate;
}
.loadertext{
    height: 60px;
    animation: bounce 0.6s cubic-bezier(.13,.42,.25,.99) infinite alternate;
    animation-delay: 0.06s;
}


