a:link {
    text-decoration: none;
}
p {
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
    font-size: 0.9rem;
    text-align: left;
}
h1,h2,h3,h4{
    color: rgb(240, 248, 255);
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0 0 30px white;
    text-align: left;
}
body{
    background-color: black;
    background: radial-gradient(circle,rgb(5, 0, 10) 0%, rgba(5, 1, 8, 1) 65%, rgb(10, 8, 12) 100%);
    overflow-x: hidden;
}
header{
    justify-self: center;
}
main{
    justify-content: center;
    display: flex; flex-wrap: wrap;
    animation: zipside 1.8s cubic-bezier(.02,0,0,1) 1;
}
.cliquable {
    transition: 0.5s;   
}
.cliquable:hover {
    transition: 0.2s;
transform: scale(1.1);
}
.stillcontainer{
    text-align: left;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 19px rgba(255, 255, 255, 0.35);
    transition: 0.5s;
    margin: 5px;
    max-width: 100%;
    min-height: 27vh;
    height: 200px;
    aspect-ratio: 4/3;
    box-sizing: border-box;
    display: block;
    background-color: black;
    overflow: hidden;
    border-radius: 20px;
}
.stillcontainer:hover{
    transform: scale(1.05); transition: 0.4s ease-out;
}
.desc{
    position: absolute;
    z-index: 2;
    margin-inline: 20px;
}
#autoplay:hover{
    opacity: 0.0;
}
.stills{
    z-index: 3;
    position: absolute;
    opacity: 1;
    transition: 0.5s;
    height: auto;
    width: 100%;
    max-width: 100%;
    aspect-ratio: 4/3;
}
.stills:hover{
    opacity: 0.35;
    mix-blend-mode: lighten;
}

.details{
    justify-self: center;
    
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(212, 212, 212);
    font-weight: lighter;
}
.preview{
    opacity: 0.5;
    width: 100%;
}
.titreanime span{
    display: inline-block;
    animation: wavebw 1.5s ease-in-out infinite ;
}
.titreanime span:nth-child(2){
    animation-delay: 0.1s;
}
.titreanime span:nth-child(3){
    animation-delay: 0.2s;
}
.titreanime span:nth-child(4){
    animation-delay: 0.3s;
}
.titreanime span:nth-child(5){
    animation-delay: 0.4s;
}
/* @keyframes wave {
0%, 100% {transform: translateY(0) rotate(-3deg);}
50% {transform: translateY(20%) rotate(3deg);}
} */
/* page de chargement */
.loader{
    z-index: 99;
    opacity: 1;
    width: 110%; height: 110%; background-color: black; position: fixed; 
    top: 50%; left: 50%;
    translate: -50% -50%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
}
.loader--hidden{
opacity: 0;
visibility: hidden;
transition: 0.5s ease-in-out;
}
@keyframes bounce {
    0% {transform: translate(0);}
    100% {transform: translate(0, -10%);}
}
.loadericon{
    fill: rgb(255, 255, 255);
    stroke: white;
    stroke-width: 15px;
    animation: bounce 0.6s cubic-bezier(.13,.42,.25,.99) infinite alternate;
}
.loadertext{
    height: 60px;
    animation: bounce 0.6s cubic-bezier(.13,.42,.25,.99) infinite alternate;
    animation-delay: 0.06s;
}


