body{
    background-color: black;
}
#main-header{
    display: block;
    justify-self: center;
    margin: 4px;
    margin-bottom: 5%;
    /* background-color: rgb(255, 253, 253); */
    animation-name: Zspin;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
#main-homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-inline: auto;
}
.box {
  opacity: 1;
  border: white solid;
  background-color: rgba(255, 250, 240, 0.144);
  backdrop-filter: blur(2px);
   display: flex;
   align-items: center;
   border-radius: 60px;
   gap: 2%;
   
}
#selec_menu{
    position: relative;
    flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 800px;
    align-self: center;
    margin-inline: auto;
    animation-name: Zspin;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes Zspin {
    0% {transform: translate(0, -100vh);}
    100%{transform: translate(0);}
}
.navicon{
    position: relative;
}
.navitext{
    font-family: 'Courier New', Courier, monospace; color: rgb(255, 253, 253); font-weight: bold; text-shadow: 0 0 5px rgb(0, 0, 0);
    padding: 9%;
    z-index: 30;
    position: absolute;
    bottom: 0; left: 50%; translate: -50% 0;
    text-align: left;
    font-size: 80%;
    opacity: 0;
    transition: 0.7s ease-out;
    width: 100px;

    background: linear-gradient(0deg,transparent,#ffffff94 33%, rgb(255, 255, 255));
    border-radius: 5px;
}
.navitext:hover{
    transition: 1s cubic-bezier(.16,.13,0,1);
    /* transform: scaleY(150%); */
    transform: translateY(-60%);
    opacity: 1;
}
.cliquable {
    z-index: 0;
    transition: 0.5s;
}
.cliquable:hover {
    z-index: 0;
    transition: 0.2s;
transform: scale(1.22);
}
.title {
    display: flex;
    justify-self: center;
    justify-content: center;
    margin: 4%;
    margin-bottom: 0;
}

.paragraphs {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin: 10rem;
justify-self: center
}
.paragraphs2 {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 3px black;
    color: aliceblue;
    font-weight: bold;
    display: block;
    margin: 30px;
    text-align: left;
justify-self: center
}
.bgvideo{
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
}
video{
    object-fit:  cover;
}
h1,h2,h3,h4,h5{
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 2px 5px black;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.underbox{
    padding: 2%;
    background-color: rgba(255, 250, 240, 0.178);
    background: radial-gradient( rgba(255, 250, 240, 0.178) 0, rgba(255, 250, 240, 0.178) 50%, rgba(0, 0, 0, 0.158) 100%);
    backdrop-filter: blur(2.9px);
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.404);
    border-top: solid rgba(255, 255, 255, 0.664) 1px;
    border-left: solid rgba(255, 255, 255, 0.377) 1px;
    overflow: hidden;
    margin: 1%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    margin: 4%;   
    animation-name: Zspin;
    animation-duration: 1.4s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.02,.5.0.1);
}
/* copyright footer*/
.details{
    justify-self: center;

    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(212, 212, 212);
    font-weight: lighter;
}
/* style pour le materiel*/
@keyframes raise {
    0% {transform: translate(0, 100vh);}
    100%{transform: translate(0);}
}
#body_gear_page{
    background: #240303;
background: linear-gradient(180deg, rgb(49, 19, 5) 0%, rgba(237, 175, 50, 1) 72%, rgba(255, 243, 82, 1) 100%);
background-size: cover;
overflow-x: hidden;
}
.gearwriting{
    position: relative;
    z-index: 5;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 2px 5px black;
    color: aliceblue;
    font-weight: bold;
}
.gearcontainer{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;

    animation: raise 1.5s cubic-bezier(.05,.1,0,1) 1 ;
}
.gearitem{
    width: 10cm;
    max-width: 80%;
    background-color: rgba(14, 14, 14, 0.555);
    border-top: solid;
    border-left: solid;
    border-color: rgba(255, 217, 146, 0.664);
    border-width: 1px;
    backdrop-filter: blur(2px);
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.363);
    display: flex;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 30px;
    margin: 1%;
}
a:link, a:visited{
    text-decoration: none;
    color: rgb(224, 177, 48);
}
/* page de chargement */
.loader{
    z-index: 99;
    opacity: 1;
    width: 102%; height: 102%; background-color: black; position: fixed; 
    top: 50%; left: 50%; translate: -50% -50%;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}
.loader--hidden{
opacity: 0;
visibility: hidden;
transition: 0.5s ease-in-out;
}
@keyframes bounce {
    0% {transform: translate(0);}
    100% {transform: translate(0, -10%);}
}
.loadericon{
    fill: rgb(255, 255, 255);
    stroke: white;
    stroke-width: 0px;
    animation: bounce 0.6s cubic-bezier(.13,.42,.25,.99) infinite alternate;
}
.loadertext span{
    height: 60px;
    animation: bounce 0.6s cubic-bezier(.13,.42,.25,.99) infinite alternate;
    /* animation-delay: 0.06s; */
    display: inline-block;
}
.loadertext span:nth-child(2){
    animation-delay: 0.1s;
}
.loadertext span:nth-child(3){
    animation-delay: 0.2s;
}
.loadertext span:nth-child(4){
    animation-delay: 0.3s;
}
.loadertext span:nth-child(5){
    animation-delay: 0.4s;
}
.loadertext span:nth-child(6){
    animation-delay: 0.5s;
}
.loadertext span:nth-child(7){
    animation-delay: 0.6s;
}
.loadertext span:nth-child(8){
    animation-delay: 0.7s;
}
.loadertext span:nth-child(9){
    animation-delay: 0.8s;
}
.loadertext span:nth-child(10){
    animation-delay: 0.9s;
}
/* suite */

@keyframes wave {
0%, 100% {transform: translateY(0) rotate(-3deg); color: rgb(255, 174, 0);}
50% {transform: translateY(20%) rotate(3deg);color: rgb(224, 80, 224);}
25% {color: rgb(220, 223, 51);}
75% {color: rgb(176, 135, 222);}
}
@keyframes wavebw {
0%, 100% {transform: translateY(0) rotate(-3deg);}
50% {transform: translateY(20%) rotate(3deg);}
}

.funkytitre span{
    animation: wave 2s ease-in-out infinite ;
    /* animation-delay: 0.06s; */
    display: inline-block;
}
.funkytitre span:nth-child(2){
    animation-delay: 0.1s;
}
.funkytitre span:nth-child(3){
    animation-delay: 0.2s;
}
.funkytitre span:nth-child(4){
    animation-delay: 0.3s;
}
.funkytitre span:nth-child(5){
    animation-delay: 0.4s;
}
.funkytitre span:nth-child(6){
    animation-delay: 0.5s;
}
.funkytitre span:nth-child(7){
    animation-delay: 0.6s;
}
.funkytitre span:nth-child(8){
    animation-delay: 0.7s;
}
.funkytitre span:nth-child(9){
    animation-delay: 0.8s;
}
.funkytitre span:nth-child(10){
    animation-delay: 0.9s;
}
.funkytitre span:nth-child(11){
    animation-delay: 1s;
}
.funkytitre span:nth-child(12){
    animation-delay: 1.1s;
}
.funkytitre span:nth-child(13){
    animation-delay: 1.2s;
}
.funkytitre span:nth-child(14){
    animation-delay: 1.3s;
}
.funkytitre span:nth-child(15){
    animation-delay: 1.4s;
}
.funkytitre span:nth-child(16){
    animation-delay: 1.5s;
}
.funkytitre span:nth-child(17){
    animation-delay: 1.6s;
}
.funkytitre span:nth-child(18){
    animation-delay: 1.7s;
}
.funkytitre span:nth-child(19){
    animation-delay: 1.8s;
}
.funkytitre span:nth-child(20){
    animation-delay: 1.9s;
}
.funkytitre span:nth-child(21){
    animation-delay: 2s;
}
.funkytitre span:nth-child(22){
    animation-delay: 2.1s;
}
.funkytitre span:nth-child(23){
    animation-delay: 2.2s;
}
.funkytitre span:nth-child(24){
    animation-delay: 2.3s;
}
